.contentWrapper {
  height: 100vh;
  margin: 0 auto;
  max-width: 1200px;

  column-gap: 120px;
  display: grid;
  grid-template-columns: 1fr 453px;
  position: relative;
}

.contentSigned {
  &:before {
    content: '';

    background: url('./assets/background.svg') no-repeat;
    background-size: cover;
    height: 100vh;
    position: absolute;
    right: -200px;
    top: 0;
    width: 420px;
  }
}